*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Prompt', sans-serif;
    color: white;
}
h1{
    font-size: 3rem;
}
h1, h2{
    text-align: center;
}

/* Hero */
.splash{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('./images/pexels-sam-forson-243138.jpg');
    background-position: bottom;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

/* Navbar */
.navbar-mobile{
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(20, 43, 72, 0.9);
    width: 100%;
}
.navbar-mobile a{
    text-decoration: none;
    color: white;
}
.navbar-close{
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.navbar-mobile ul li{
    padding: 1rem;
    
}
/* .navbar-mobile li:hover ul{
    max-height: 200px;
} */
.navbar-open{
    max-height: 200px;
}
.menu{
    position: absolute;
    top: 10px;
    left: 160px;
    z-index: 10;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -130px;
    bottom: 0;
    width: 250px;
    transition: all 1s ease-in-out;
    background-color: rgba(20, 43, 72, 0.9);
}
.links{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.sidebar:hover{
    left: 0;
}

@media screen and (max-width: 800px) {
    .navbar-mobile{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .menu{
        display: none;
    }
}
/* Start */

.start-container{
    max-width: 1240px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h3, .card p{
    color: rgb(47, 47, 47);
    padding: 1rem;
}
.image-container{
    width: 90%;
}
.image-container img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 800px){
    .start-container{
        flex-direction: column;
        height: auto;
        margin-top: 5rem;
    }
    .flex-first{
        order: -1;
    }
}
/* List */
.list-container h2{
    color: rgb(39, 36, 36);
}

.list-container{
    width: 100vw;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter h3{
    color: black;
    padding: 0 1rem;
}

.list-card{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.red{
 background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: rgb(218, 218, 25);
}
.black{
    background-color: black
}
.card-outer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.card-action{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.list-card button{
    padding: 0.5rem 1.5rem;
}
.card-text{
    width: 30%;
}
.list-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-image img {
    width: 100%;
    padding: 2rem 0;
}
#modal {
    background: white;
    top: 30%;
    padding: 20px;
    height: 200px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid blue;
    position: relative;
  }
  
  #overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
@media screen and (max-width: 800px){
    .list-card{
        width: 90%;
    }
    .card-outer{
        flex-direction: column;
    }
    .list-image, .card-text{
        width: 100%;
    }
}
/* Contact */
.contact-form{
    max-width: 1240px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: black;
  }
  
  input,
  textarea,
  select {
    font-size: 1.2rem;
    margin: 0.6rem 0;
    padding: 10px 18px;
    border: none;
    box-shadow: 0px 0px 9px #ccc5c5;
  }
  